*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Concert One", cursive;
  font-size: 16px;
}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  /* height: 50px;
  margin-top: 5px;*/
  margin-left: 20px; 
  padding: 5px;
  /* background-color: #ff5d88; */
  /* color: white; */
  /* font-size: 1.5em; */
  /* line-height: 1.5; */
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  /* float: right; */
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #006eff;
  color: white;
  font-size: 1em;
  border-radius: 10px;
}

li button:hover {
  background-color: #00c3ff;
}

.quiz {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}

.actionButton {
  background-color: #006eff;
  color: #fff;
  border-radius: 5px;
}

.actionButton:hover {
  background-color: #00c3ff;
}
